.banner {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;

  @media (min-aspect-ratio: 16/9) {
    width: 177.77vh; /* 100vh * 16 / 9 */
    height: 100vh;
  }

  @media (max-aspect-ratio: 16/9) and (min-aspect-ratio: 4/3) {
    width: 100vw;
    height: 100vh;
  }

  @media (max-aspect-ratio: 4/3) {
    width: 100vw;
    height: 75vw; /* 100vw * 3 / 4 */
  }
}

.banner__wrapper {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  overflow: hidden;
  background-image: url('../img/background-clear.png');
  background-size: cover;

  @media (min-aspect-ratio: 16/9) {
    width: 133.33vh; /* 100vh * 4 / 3 */
    height: 100vh;
  }

  @media (max-aspect-ratio: 16/9) and (min-aspect-ratio: 4/3) {
    width: 133.33vh; /* 100vh * 4 / 3 */
    height: 100vh;
  }

  @media (max-aspect-ratio: 4/3) {
    width: 100vw;
    height: 75vw;/* 100vw * 3 / 4 */
  }
}

.banner__background-wrapper {
  height: 100%;

  img {
    height: 100%;
    width: 231.7%;
    max-width: unset;
  }
}

// пятна грязи

.dirt-group {
  position: absolute;
  height: auto;
  mix-blend-mode: multiply;

  display: none;
}

.dirt-group--1 {
  display: block;
}

.dirt-group--2 {
  top: 51.5%;
  left: 39.5%;
  mix-blend-mode: normal;
}

.dirt-group--3 {
  top: 26%;
  left: 43%;
}

.dirt-group--4 {
  left: 56.1%;
  top: 0%;
}

.dirt-group--5 {
  display: none;
}

.dirt-group--6 {
  display: none;
}

.dirt-group--7 {
  display: none;
}

.foam {
  position: absolute;
  z-index: 3;
  scale: 0;
}

.foam--1 {
  // opacity: 0;
  top: 5%;
  left: -2%;
  width: 42.35%;
}

.foam--2 {
  top: 39%;
  left: 25%;
  width: 23.5%;
}

.foam--3 {
  top: 0%;
  left: 26%;
  width: 27.3%;
}

.foam--4 {
  top: -7%;
  left: 42%;
  width: 41.9%;
}

.foam--5 {}

.foam--6 {}

.foam--7 {}

.bacteria {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 2;
  width: 25.7%;

  img {
    width: 100%;
  }
}

.bacteria--1 {
  top: 35%;
  left: 2%;
}

.bacteria--2 {
  top: 43%;
  left: 18%;
  opacity: 0;
  display: none;
}

.bacteria--3 {
  top: 0%;
  left: 32%;
  opacity: 0;
  display: none;
}

.bacteria--4 {
  top: 16.5%;
  left: 60%;
  width: 14.8%;
  display: none;
}

.bacteria--5 {

  scale: 0;
  opacity: 0;
}

.bacteria--6 {
  opacity: 0;
  scale: 0;

}

.bacteria--7 {
  opacity: 0;
  scale: 0;

}

.rules-banner {
  background-color: #006822;
  border-radius: 30px;
  font-weight: 500;
  color: #ffffff;
  font-size: 4.07vw;
  width: 65.46vw;
  position: absolute;
  top: 19vw;
  right: 0;
  line-height: 1.05em;
  padding: 5.55vw 5.55vw 4.63vw 11.46vw;
  transform: translate(-11.94%, 0);

  p {
    margin: 0;
    position: relative;
  }

  .rules-banner__triangle {
    content: '';
    position: absolute;
    top: 50%;
    left: -25%;
    margin-top: -4.26vw;
    border-width: 4.26vw;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }
}

.sprayer {
  position: absolute;
  right: 1vw;
  bottom: 0;
  z-index: 2;
  opacity: 0;

  img {
    width: 10.66vw;
  }
}

.timer {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 92.55vw;
  height: 1.4vw;
  border: 3px solid #ffffff;
  background-color: transparent;
  border-radius: 90px;
  opacity: 0;
}

.timer__timerline {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;

  background-color: rgba(0, 104, 34, 0.8);
  border-radius: 30px;
}

.banner--0 {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: calc(100vw / 16) * 9;
  top: 0;
  left: 0;
}
